/* global start  */
html {
  margin: 45px;
}
body {
  background: #ffffff;
  font-family: Inter, sans-serif;
}

.logo {
  width: 162px;
  height: 34px;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#pink-1 {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 161px;
  top: 118px;
}
h1 {
  width: 620px;
  height: 232px;
  top: 232px;
  left: 80px;
  font-weight: 900;
  font-size: 96px;
  line-height: 116px;
  color: #111111;
  margin: 10px 0;
}

h6 {
  color: #555555;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.background {
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 50px 0;
  padding: 5% 0 0.5% 4%;
  height: 14rem;
  left: 374px;
  right: 73px;
  top: 874px;
  border-radius: 12px;
  align-items: center;
}

.pink {
  width: 190px;
  height: 19px;
  left: 80px;
  top: 306px;
  color: #ff3998;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

button {
  padding: 7px 20px;
  background: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 7%;
  border-width: 3px;
  border-radius: 22px;
  border: 4px solid #ff8139;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #555555;
}

#container-table {
  display: flex;
  justify-content: space-around;
}
table {
  display: flex;
  width: 100%;
  margin: 0 0 15px 0;
  background: #eeeeee;
  justify-content: space-evenly;
  border-radius: 0 0 12px 12px;
  padding: 7%;
}
h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.dark-grey {
  color: #777777;
  font-weight: 400;
  size: 18px;
  line-height: 18px;
}
.dark-grey-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
.orange {
  color: #ff8139;
  size: 12px;
  line-height: 12px;
}
.grey {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.grey-2 {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
}
#OpenSea {
  font-weight: 500;
  text-decoration: underline;
}
#grey-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}
#container-1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 8% 0 3% 0;
}

h2 {
  width: 620px;
  height: 68px;
  left: 80px;
  top: 2441px;
  font-weight: 900;
  color: #111111;
  line-height: 68px;
  font-size: 56px;
}
#border {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin: 60px 0;
}
#green-lady {
  position: absolute;
  width: 60%;
  height: 60%;
  right: 101px;
  top: 2130px;
}

ul {
  display: flex;
  padding-inline-start: 0;
}
li {
  padding-right: 9px;
}

/* global end  */

/* Mobile start  */
@media screen and (max-width: 428px) {
  html {
    margin: 30px 0 80px 0;
  }
  .item {
    margin: 0 30px;
  }
  button {
    margin: 0 30px;
  }
  .logo {
    margin: 0 0 0 30px;
  }
  #nftlanding {
    padding-bottom: 20px;
  }
  nav {
    display: none;
  }
  .hidden-mobile {
    display: none;
  }
  h1 {
    width: 274px;
    height: 116px;
    left: 32px;
    top: 191px;
    font-size: 48px;
    line-height: 58px;
  }
  .text {
    width: 274px;
    height: 116px;
    left: 32px;
    top: 191px;
    line-height: 30px;
  }
  #pink-1 {
    height: 65%;
    width: 100%;
    left: 207px;
    top: 110px;
  }

  .background {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 0;
  }

  #companies {
    max-width: 428px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
    text-align: justify;
  }

  #auction {
    margin: 0 30px;
    padding-bottom: 90%;
  }
  #container-table {
    position: absolute;
  }

  h2 {
    width: 234px;
    height: 116px;
    font-size: 56px;
    line-height: 68px;
    padding-bottom: 40px;
  }
  .text-1 {
    width: 204px;
    height: 116px;
    line-height: 150%;
    border-top: 2px solid #eeeeee;
    margin-bottom: 13%;
  }
  button {
    margin-bottom: 10%;
  }
  #green-lady {
    height: 61%;
    width: 100%;
    left: 144px;
    top: 1935px;
  }
  #exclusive {
    margin: 5px 0 0 30px;
  }
  #footer-2 {
    margin: 0 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 80px;
  }
  .column {
    flex-direction: column;
  }
}
/* Mobile end  */

/* Desktop start  */
@media screen and (min-width: 1440px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
  }
  nav ul {
    display: flex;
  }

  .text {
    width: 620px;
    height: 116px;
    left: 32px;
    top: 191px;
    line-height: 30px;
  }
  .text-1 {
    width: 537px;
    height: 60px;
    left: 80px;
    top: 2533px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }
  #companies {
    display: flex;
    justify-content: space-between;
  }
  #footer-wrap {
    display: flex;
    justify-content: space-between;
  }
  .wrap {
    flex-direction: row;
  }
  #footer-2 {
    display: flex;
    justify-content: end;
  }
  .column {
    flex-direction: column;
    padding-inline-start: 0;
  }
  .align > h6 {
    margin-top: 0;
  }
  .align {
    padding: 25px;
  }
  #footer-3 {
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
  }
}
/* Desktop end  */
