/* global start  */
html {
  margin: 45px;
}
body {
  background: #ffffff;
  font-family: Inter, sans-serif;
}
.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#pink-1 {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 161px;
  top: 118px;
}
h1 {
  width: 620px;
  height: 232px;
  top: 232px;
  left: 80px;
  font-weight: 900;
  font-size: 96px;
  line-height: 116px;
  color: #111111;
  margin: 10px 0;
}

h2 {
  font-weight: 900;
  color: #111111;
}

h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
h6 {
  color: #555555;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.background {
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  border-radius: 0 0 16px 16px;
  margin: 50px 0;
  padding: 5% 0 0.5% 4%;
  height: 14rem;
  left: 374px;
  right: 73px;
  top: 874px;
}

.pink {
  width: 190px;
  height: 19px;
  left: 80px;
  top: 306px;
  color: #ff3998;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

button {
  padding: 7px;
  background: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}
.border-gradient {
  border: 4px solid;
  border-width: 3px;
  border-radius: 16px;
  border-image-slice: 2 1 3 3;
}
.border-gradient-1 {
  border-image-source: linear-gradient(
    to left,
    #ff8139,
    #39ffa0,
    #ff8139,
    #ff3998
  );
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #555555;
}

#container-table {
  display: flex;
  justify-content: space-around;
}
table {
  display: flex;
  width: 100%;
  margin-top: 0;
  background: #eeeeee;
  justify-content: space-around;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.dark-grey {
  color: #777777;
  font-weight: 400;
  size: 18px;
  line-height: 18px;
}
.dark-grey-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
.orange {
  color: #ff8139;
  size: 12px;
  line-height: 12px;
}
.grey {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.grey-2 {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
}
#OpenSea {
  font-weight: 500;
  text-decoration: underline;
}
#grey-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}

/* global end  */


